{% extends "base.html" %}

{% block head %}
    {% block title %}
        <title>BM RESTful API</title>
    {% endblock %}
    <link href="{{ url_for('static', filename='styles/styles.css')}}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='images/favicon.ico')}}" rel="icon" type="image/x-icon">
    {{ moment.include_jquery() }}
    {{ moment.include_moment() }}
{% endblock %}

{% block body %}
    class="operation-ko">
    <div align="left">
        <img src="{{ url_for('static', filename='images/brandmeister.png')}}"  border="0">
        <ul id="breadcrumb">
            <li><a href="{{ url_for('index') }}" title="Home">
                <img src="{{ url_for('static', filename='images/home.png')}}" alt="Home" class="home" /></a>
            </li>
            <li><a href="javascript:history.back()" title="Go back">Previous page</a></li>
            <li>ERROR</li>
        </ul>
    </div>
    <h2>RESTful API server response</h2>
    <h1>Error {{ errorNumber }}</h1>

    <p>Exception's timestamp: <i>{{ moment(currentTime).format('YYYY/MM/DD @ HH:mm:ss') }}
        CEST (server timezone)</i>.</p>
{% endblock %}

{% block footer %}
    <hr size="1" noshade>
    <p><b><span class="copy-left">&copy;</span><i>The BrandMeister Development Team</i></b></p>
{% endblock %}
