<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BrandMeister RESTful API</title>
    <link href="static/styles.css" rel="stylesheet" type="text/css">
    <link rel="icon" href="static/favicon.ico" type="image/x-icon">
</head>
<body>
<div align="left"><img src="static/brandmeister.png" border="0"></div>
<h2>RESTful API server endpoint</h2>
<p>In order to correctly invoke this RESTful API please read &amp; follow
    <a href="{{ url_for('apidocs') }}">the docs</a>. Thank you!</p>
<p>&nbsp;</p>
<p><b><i>The BrandMeister Development Team</i></b></p>
</body>
</html>